@import "src/styles/variables";

* {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.form {
  width: 340px;
  height: 460px;

  background: $white-color;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.divButton {
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
  margin-top: auto;
  margin-bottom: 40px;
  gap: 10px;
  align-items: center;
}
