@import "src/styles/variables.scss";

.input {
  text-align: right;
  width: 200px;
  box-sizing: border-box;
  padding: 12px;
  color: $black-color;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;

  &::placeholder {
    color: $gray-color;
  }

  &:hover {
    border: none;
  }

  &:active {
    border: none;
  }
}

.div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fbfbfb;
}

.label {
  z-index: 0;
}
