@import "src/styles/variables.scss";

.backButton {
  border: none;
  background: transparent;
  align-self: center;

  cursor: pointer;
}

.container {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100px;
  background-color: $background-white-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
